<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>jiangqi-关于我</title>
    <link href="../static/images/favicon.ico" th:href="@{/images/me.jpg}" rel="icon" type="image/x-ico">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../static/css/me.css" th:href="@{/css/me.css}">
</head>
<body>

<!--导航-->
<nav id="nav" class="gird-header">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui olive header item" style="font-family: STSong,sans-serif">七☞小猪</h2>
            <!--<div class="right m-item item m-mobile-hide">-->
            <a href="#" th:href="@{/}" class="m-item item"><i class="home icon"
                                                              style="margin-right: 11px;margin-bottom: 1px"></i>首页</a>
            <a href="#" th:href="@{/types/-1}" class="m-item item"><i class="clone outline icon"
                                                                      style="margin-right: 11px;margin-bottom: 1px"></i>分类</a>
            <a href="#" th:href="@{/archives}" class="m-item item"><i class="clock icon"
                                                                      style="margin-right: 11px;margin-bottom: 1px"></i>时间轴</a>
            <a href="#" th:href="@{/music}" class="m-item item"><i class="music icon"
                                                                   style="margin-right: 11px;margin-bottom: 1px"></i>音乐盒</a>
            <a href="#" th:href="@{/message}" class="m-item item"><i class="book icon"
                                                                     style="margin-right: 11px;margin-bottom: 1px"></i>留言板</a>
            <a href="#" th:href="@{/picture}" class="olive m-item item"><i class="image icon"
                                                                           style="margin-right: 11px;margin-bottom: 1px"></i>照片墙</a>
            <a href="#" th:href="@{/about}" class="active m-item item"><i class="info icon"
                                                                          style="margin-right: 11px;margin-bottom: 1px"></i>关于我</a>
            <!--</div>-->
            <div class="right m-item item">
                <form name="search" action="#" th:action="@{/search}" method="post" target="_blank">
                    <div class="ui icon transparent input m-margin-tb-tiny" style="color: white">
                        <input style="color: white" type="text" name="query" placeholder="Search...."
                               th:value="${query}">
                        <i onclick="document.forms['search'].submit()" class="search link icon"></i>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-hide" style="display: none">
        <i class="sidebar icon"></i>
    </a>
</nav>


<!--顶部背景图片-->
<div class="m-bg-type_outer" style="width: 100%;height: 40%">
    <img src="../static/images/aboutbg.jpg" th:src="@{/images/aboutbg.jpg}" alt="" class="ui m-bg image"
         style="width: 100%;height: 100%">
    <div class="m-bg-class_cover">
        <div class="ui container" style="position: relative ;bottom: -540px;">
            <div class="m-font-size-title" align="center" style="font-family:'STXingkai'">关于我</div>
            <div class="m-font-size-text-init-title m-margin-top" align="center">成功就是从失败到失败，也依然不改热情</div>
        </div>
    </div>
</div>

<!--个人资料描述-->
<div class="ui container m-opacity box-shadow-max">
    <div class="ui segment m-margin-" align="center">
        <div class="m-margin-top-large" align="center">
            <img class="ui circular image" align="center" src="../static/images/me.jpg" th:src="@{/images/me.jpg}"
                 style="width: 150px;height: 150px;">
        </div>
        <div class="m-margin-top-small" style="font-size: x-large;font-family: STSong" align="center">jiangqi</div>
        <div class="" align="center">
            <a href="https://github.com/zswyl/" target="_blank" class="ui github circular icon button"
               data-content="点击跳转GitHub" data-position="bottom center"><i class="github icon"></i></a>
            <a href="https://blog.csdn.net/m0_46502538?spm=1010.2135.3001.5343" target="_blank"
               class="ui csdn circular icon button"
               data-content="点击跳转CSDN" data-position="bottom center"><i class="copyright outline icon"></i></a>
            <a href="#" class="ui email circular icon button" data-content="zhusongwang116@163.com"
               data-position="bottom center"><i class="envelope  icon"></i></a>
        </div>

        <hr class="m-margin-top-small" style="width: 30%">
        <br>
        <div class="m-margin-top-small" style="font-size: x-large;font-family: STSong,sans-serif" align="center">
            <p>00后</p>
            <p>爱编程、爱听音乐</p>
            <p>我相信有一份好奇</p>
            <p>加上一点点努力</p>
            <p>我们一定能从“一无所知”走向“知道一点点”</p>
            <p>然后是“知道一些”</p>
            <p>这样慢慢地积累</p>
            <p>说不定有一天突然发现</p>
            <p>原来我也可以站着巨人的肩膀上</p>
            <p>原来我真的已经站着巨人的肩膀上</p>
            <p>到那时</p>
            <p>我们一定已经开始新的旅程了</p>
            <p>那将是真正具备创造性的工作</p>
            <p>到那一天，请不要忘记，一切都是从好奇开始...</p>
        </div>
        <hr class="m-margin-top-large">
        <br>
        <div class="ui orange basic label m-margin-tb-tiny">
            <p style="font-size: medium">能打动人的从来不是花言巧语，而是恰到好处的温柔以及真挚的内心，如果你动心了，那就来打赏本站吧</p>
        </div>
        <div class="ui orange basic label">
            <div class="ui images" style="font-size: inherit !important;">
                <div class="image">
                    <img src="../static/images/zhifupay.jpg" th:src="@{/images/zhifupay.jpg}" alt=""
                         class="ui rounded bordered image" style="width: 180px">
                    <div>支付宝</div>
                </div>
                <div class="image">
                    <img src="../static/images/wechatpay.jpg" th:src="@{/images/wechatpay.jpg}" alt=""
                         class="ui rounded bordered image" style="width: 180px">
                    <div>微信</div>
                </div>
            </div>
        </div>
    </div>
</div>

<br>
<br>

<!--底部栏-->
<footer class="ui inverted vertical segment m-padded-tb-massive m-opacity">
    <!--容器-->
    <div class="ui center aligned container">
        <div class="ui inverted divided stackable grid">
            <div class="four wide column">
                <div class="ui inverted link list">
                    <div class="item">
                        <!--微信二维码-->
                        <div style="font-size: large;font-weight: bold"
                             class="ui inverted  m-text-thin m-text-spaced m-margin-top">我的微信
                        </div>
                        <img src="../static/images/zhusongwangWechat.png" th:src="@{/images/zhusongwangWechat.png}"
                             class="ui m-margin-top rounded image" alt="" style="width: 85px">
                    </div>
                </div>
            </div>
            <div class="four wide column">
                <div class="ui inverted link list">
                    <div class="item">
                        <!--微信二维码-->
                        <div style="font-size: large;font-weight: bold"
                             class="ui inverted  m-text-thin m-text-spaced m-margin-top">我的座右铭
                        </div>
                        <div style="margin-top: 15px !important;">
                            <div style="font-size: large;color:#ffa500;margin-bottom: 9px">天道酬勤</div>
                            <div style="font-size: medium;color:orange;margin-bottom: 9px"> 欲观千里，需上层楼。</div>
                            <div style="font-size: medium;color:orange">戒骄戒躁，精益求精。</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="four wide column">
                <div class="ui inverted link list">
                    <div class="item">
                        <!--微信二维码-->
                        <div style="font-size: large;font-weight: bold"
                             class="ui inverted  m-text-thin m-text-spaced m-margin-top">我的QQ
                        </div>
                        <img src="../static/images/qq.jpg" th:src="@{/images/qq.jpg}"
                             class="ui m-margin-top rounded image" alt="" style="width:85px">
                    </div>
                </div>
            </div>
            <!--博客运行时间统计-->
            <div class="four wide column">
                <div style="font-size: large;font-weight: bold"
                     class="ui inverted  m-text-thin m-text-spaced m-margin-top">七☞小猪信息
                </div>
                <!--<p id="htmer_time" class="item m-text-thin"></p>-->
                <div id="blog-message">
                    <div class="ui inverted link list" style="align-content: center;margin-top: 10px;"
                         th:fragment="blogMessage">
                        <div class="m-text-thin" style="text-align: left;margin-left: 100px;">
                            文章总数： <h2 class="ui orange header m-inline-block m-margin-top-null"
                                      style="font-size:medium;" th:text="${blogTotal}"> 14 </h2> 篇
                        </div>
                        <div class="m-text-thin" style="text-align: left;margin-left: 100px">
                            访问总数： <h2 class="ui orange header m-inline-block m-margin-top-null"
                                      style="font-size:medium;" th:text="${blogViewTotal}"> 14 </h2> 次
                        </div>
                        <div class="m-text-thin" style="text-align: left;margin-left: 100px">
                            评论总数： <h2 class="ui orange header m-inline-block m-margin-top-null"
                                      style="font-size:medium;" th:text="${blogCommentTotal}"> 14 </h2> 条
                        </div>
                        <div class="m-text-thin" style="text-align: left;margin-left: 100px">
                            留言总数： <h2 class="ui orange header m-inline-block m-margin-top-null"
                                      style="font-size:medium;" th:text="${blogMessageTotal}"> 14 </h2> 条
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="ui inverted section divider"></div>
        <div style="color: #F08047;margin-top: -18px" class="ui inverted m-text-thin m-text-spaced">七☞小猪已营业：<span
                id="htmer_time" class="item m-text-thin"></span> (*๓´╰╯`๓)
        </div>
        <a rel="nofollow" href="http://www.beian.miit.gov.cn" target="_blank">Copyright©2020-2021 Zhusongwang Designed
            by
            Zhusongwang</a>
    </div>

</footer>


<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>

<script>
    // $('#newblog-container').load(/*[[@{/footer/newblog}]]*/"/footer/newblog");

    $('#blog-message').load(/*[[@{/footer/blogmessage}]]*/"/footer/blogmessage");


    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });


    // 显示邮箱
    $('.email').popup();

    // 显示CSDN
    $('.csdn').popup();

    // 显示github
    $('.github').popup();


    // 时间统计
    function secondToDate(second) {
        if (!second) {
            return 0;
        }
        var time = new Array(0, 0, 0, 0, 0);
        if (second >= 365 * 24 * 3600) {
            time[0] = parseInt(second / (365 * 24 * 3600));
            second %= 365 * 24 * 3600;
        }
        if (second >= 24 * 3600) {
            time[1] = parseInt(second / (24 * 3600));
            second %= 24 * 3600;
        }
        if (second >= 3600) {
            time[2] = parseInt(second / 3600);
            second %= 3600;
        }
        if (second >= 60) {
            time[3] = parseInt(second / 60);
            second %= 60;
        }
        if (second > 0) {
            time[4] = second;
        }
        return time;
    }

    /*此处为初始时间*/
    function setTime() {

        var create_time = Math.round(new Date(Date.UTC(2021, 3, 15, 15, 15, 15)).getTime() / 1000);
        var timestamp = Math.round((new Date().getTime() + 8 * 60 * 60 * 1000) / 1000);
        currentTime = secondToDate((timestamp - create_time));
        currentTimeHtml = currentTime[0] + '年' + currentTime[1] + '天'
            + currentTime[2] + '时' + currentTime[3] + '分' + currentTime[4]
            + '秒';
        document.getElementById("htmer_time").innerHTML = currentTimeHtml;
    }

    setInterval(setTime, 1000);

</script>
</body>
</html>